<!DOCTYPE html>
<html>

<head>
  <title>Harris Childs - Personal Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= render System::NavigationComponent.new(navigation_items: [
        { name: 'Home', path: root_path },
        { name: 'About', path: about_path },
        { name: 'Resume', path: resume_path }
      ]) %>
</head>

<body>
  <main class="mt-4">
    <div class="w-1/4">
      <%= yield %>
  </main>
</body>

</html>